In [1]:
import pandas as pd
import numpy as np
import os
import sys
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# pd.set_option('display.float_format', lambda x: '%.5f' % x)
pd.set_option('display.max_rows', 250)
pd.set_option('display.max_columns', 22)

In [2]:
metadata_tcga = pd.read_json("../raw_data/NIH_GDC_DataPortal/TCGA_RNAseq_metadataprojects.2018-10-13.json")

In [3]:
type(metadata_tcga)

pandas.core.frame.DataFrame

In [6]:
metadata_tcga.head(2)

,disease_type,id,primary_site,program,project_id,summary
0,"[Myomatous Neoplasms, Soft Tissue Tumors and S...",TCGA-SARC,"[Corpus uteri, Stomach, Other and unspecified ...",{'name': 'TCGA'},TCGA-SARC,"{'data_categories': [{'case_count': 261, 'data..."
1,[Adenomas and Adenocarcinomas],TCGA-ACC,[Adrenal gland],{'name': 'TCGA'},TCGA-ACC,"{'data_categories': [{'case_count': 80, 'data_..."

In [7]:
metadata_tcga['summary']

0     {'data_categories': [{'case_count': 261, 'data...
1     {'data_categories': [{'case_count': 80, 'data_...
2     {'data_categories': [{'case_count': 87, 'data_...
3     {'data_categories': [{'case_count': 167, 'data...
4     {'data_categories': [{'case_count': 516, 'data...
5     {'data_categories': [{'case_count': 507, 'data...
6     {'data_categories': [{'case_count': 166, 'data...
7     {'data_categories': [{'case_count': 469, 'data...
8     {'data_categories': [{'case_count': 36, 'data_...
9     {'data_categories': [{'case_count': 534, 'data...
10    {'data_categories': [{'case_count': 1097, 'dat...
11    {'data_categories': [{'case_count': 492, 'data...
12    {'data_categories': [{'case_count': 66, 'data_...
13    {'data_categories': [{'case_count': 124, 'data...
14    {'data_categories': [{'case_count': 504, 'data...
15    {'data_categories': [{'case_count': 80, 'data_...
16    {'data_categories': [{'case_count': 48, 'data_...
17    {'data_categories': [{'case_count': 559, 'data...
18    {'data_categories': [{'case_count': 498, 'data...
19    {'data_categories': [{'case_count': 169, 'data...
20    {'data_categories': [{'case_count': 439, 'data...
21    {'data_categories': [{'case_count': 150, 'data...
22    {'data_categories': [{'case_count': 376, 'data...
23    {'data_categories': [{'case_count': 528, 'data...
24    {'data_categories': [{'case_count': 459, 'data...
25    {'data_categories': [{'case_count': 184, 'data...
26    {'data_categories': [{'case_count': 307, 'data...
27    {'data_categories': [{'case_count': 291, 'data...
28    {'data_categories': [{'case_count': 519, 'data...
29    {'data_categories': [{'case_count': 412, 'data...
30    {'data_categories': [{'case_count': 57, 'data_...
31    {'data_categories': [{'case_count': 179, 'data...
32    {'data_categories': [{'case_count': 178, 'data...
Name: summary, dtype: object